@import "tailwindcss";

@source "../views";

/* Déclaration des polices Altone Trial */
@font-face {
  font-family: 'Altone Trial';
  src: url('/font/altone-trial-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Altone Trial';
  src: url('/font/altone-trial-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Altone Trial';
  src: url('/font/altone-trial-oblique.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Altone Trial';
  src: url('/font/altone-trial-boldoblique.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@theme{
  --font-altone: 'Altone Trial', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

@keyframes slideIn {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.lg\:hidden a:nth-child(1) {
  animation: slideIn 0.3s ease-out 0.1s both;
}

.lg\:hidden a:nth-child(2) {
  animation: slideIn 0.3s ease-out 0.2s both;
}

.lg\:hidden a:nth-child(3) {
  animation: slideIn 0.3s ease-out 0.3s both;
}
